html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #454B65;
}

.sidebar::-webkit-scrollbar {
  width: 11px;
}

.sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.sidebar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.sidebar2::-webkit-scrollbar {
  width: 11px;
}

.sidebar2 {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.sidebar2::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.sidebar2::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.firstDash::-webkit-scrollbar {
  width: 11px;
}

.firstDash {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.firstDash::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.firstDash::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}





/* .sidebar {
  background-color: #F3F3FA;
  padding: 1rem 1rem 2rem 1rem;
  width: 240px;
  height: calc(100vh - 3.33em);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: auto;
  margin-top: 3.33em;
  transition: 0.3s all ease-in-out;
} */

.sidebar {
  width: 240px;
  background: #F3F3FA;
  height: calc(100vh - 3.3em);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* padding: 1em; */
  margin-top: 3.3em;
  transition: all .3s;
  overflow-y: auto;
  overflow-x: hidden;
}



.sidebar>a:first-child {}

.sidebar>a>img {}

.sidebar>a>img:hover {
  border: 1px solid rgb(122, 17, 31);
}

.sidebar a {
  text-decoration: none;
  color: #333956;
  padding: 0.42em 1em;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  height: 2.2em;
  border-radius: 0.3rem;
  align-content: space-between;
  justify-content: space-between;

   /* background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s; */
}

.nav-menu a{
  text-decoration: none;
  color: #333956;
  padding: 0.42em 1em;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.3rem;
  align-content: space-between;
  justify-content: space-between;
}

.nav-menu .firstDash a.active {
  background-color: rgb(64, 141, 251);
  color: rgb(246, 247, 250);
}

.nav-menu a:hover {
  background-color: #ffffff;
  color: #478ffd;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #478ffd;
}

.sidebar a>P {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: .9em;
}

.sidebar a>p>svg {
  margin-right: 1.5rem;
}

.MuiTypography-root {
  background-color: #fff !important;
}

.addIcon_box svg.icon {
  width: 15px;
  height: 15px;
}

.sidebar1 {
  width: 140px;
  left: -100%;
  transition: 0.3s all ease-in-out;
}


.nav-menu {
  width: 240px;
  background: #F3F3FA;
  min-height: calc(100vh - 3.3em);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* padding: 1em; */
  margin-top: 3.3em;
  transition: all .3s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-menu .firstDash {
  width: 55px;
  padding: 1em 10px;
}

.nav-menu .firstDash p {
  display: none;
}

.nav-menu .firstDash  a{
  justify-content: center;
  height: 2.2em;
}

.firstDash {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: #F3F3FA;
  height: calc(100vh - 3.3em);
  transition: all .3s;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

.secondDash {
  position: absolute;
  top: 0;
  width: calc(100% - 55px);
  background-color: #fff;
  right: 0;
  height: calc(100vh - 3.3em);
}

.nav-menu::-webkit-scrollbar {
  width: 11px;
}

.nav-menu {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.nav-menu::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.nav-menu::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.nav-menu a .sMenu_adds p {
  /* display: none; */
}

.btn {
  background: #383057;
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  top:0;
  
  margin-top: 2.6em;
} 

.dashboard {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  top: 3.3em;
  min-height: calc(100vh - 3.3em);
}

.topbar .sectionParts{
  width: calc(100% - 65px);
}

.sidebar2{
  width: 100%;
  background: #ffffff;
  height: calc(100vh - 3.3em);
  position: absolute;
  top: 0;
  left: 10;
  z-index: 99;
  transition: all .3s;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.1px solid #d1d1d8;
}

.secondDash .sMenu_adds h3 {
  font-size: 18px;
  padding: 0.8em 1em;
  margin: 0;
}

.secondDash .sidebar2 a {
  font-size: 14px;
  border: 1px solid #F3F3FA;
  border-right: 0;
  border-left: 0;
  padding: 0.7em;
  margin: 0;
}

.sidebar2 a{
  text-decoration: none;
  color: #333956;
  padding: 0.42em 1em;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.3rem;
  align-content: space-between;
  justify-content: space-between;
  border: 0.1px solid #c7cde6;
}

.sidebar2 a:hover {
  background-color: #ffffff;
  color: #478ffd;
}

._ar-addHead h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333956;
}

._ar-addHead {
  padding: 0.8em 1.5em;
  border: 1px solid #F3F3FA;
}

._ntRolesbox {
  padding: 3em 1.5em 2em;
}

.detailBx h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333956;
  margin-bottom: 1.6em;
}

.detailBx input, .detailBx textarea {
  border: 1px solid #BABABA;
  border-radius: 2.75px;
  background: #fff;
  font-size: 14px;
}

.detailBx input {
  padding: 0.72em 1em;
}

.detailBx textarea {
 padding: 1em;
}


._rmain_container {
  padding: 0.85em;
  margin-bottom: 2em;
}

.ma_stream {
  display: flex;
  grid-column-gap: 0.8em;
  background: #F3F3FA;
  border: 1px solid #D3D3E3;
  padding: 0.6em 1.9em;
}

.ma_stream h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333956;
  margin-bottom: 0;
}

.innersAd_tab table.table thead tr {
  background-color: #F3F3FA;
}

.innersAd_tab .table>:not(:last-child)>:last-child>* {
  border-bottom-color: #CDCDCD;
}

.innersAd_tab table.table thead tr th {
  font-weight: 400;
  color: #333956;
  font-size: 14px;
  width: 13%;
}

.innersAd_tab table.table thead tr th:nth-child(1) {
  padding-left: 2em;
  width: 25%;
}

.innersAd_tab table.table tbody tr th {
  font-weight: 400;
  color: #333956;
  font-size: 14px;
}

.innersAd_tab table.table tbody tr th:nth-child(1) {
  padding-left: 2em;
}

.innersAd_tab table.table tbody tr {
  border: 1px solid #CDCDCD;
}

.innersAd_tab table.table tbody tr td input[type=checkbox] {
  transform: scale(1.5);
  position: relative;
  left: 5px;
  accent-color: #408DFB;
}


.row._tMarg {
  margin-top: 2em;
}

._branchAdd {
  text-align: right;
  padding-right: 5vw;
}

._branchAdd button {
  background-color: #408DFB;
  border: 0;
  color: #fff;
  padding: 0.35em 1.6em;
  border-radius: 3px;
}

._addRole {
  background-color: #408DFB;
  border: 0;
  color: #fff;
  padding: 0.35em 1.6em;
  border-radius: 3px;

}






/* Google Fonts Import Link */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #F3F3FA;
  z-index: 100;
  transition: all 0.5s ease;
}
/* .sidebar.close {
  width: 78px;
} */


.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #F3F3FA;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: rgb(15, 14, 14);
  transition: all 0.4s ease;
}


.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

/* .sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #01010a;
  display: none;
} */

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: rgb(8, 8, 8);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
/*
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
} */


.rl_decr {
  display: grid;
  grid-row-gap: 2em;
}

.stickyCol {
  position: sticky;
  top: 80px;

}

.ma_stream input[type=checkbox] {
  transform: scale(1.5);
}


._rp-table thead tr th .ma_stream  {
  padding: 0;
  grid-column-gap: 0.9em;
  border: none;
}

._rp-table thead tr th {
  padding: 0.76em 2.2em !important;
  border: 1px solid #D3D3E3;
}

.innersAd_tab table.table._rp-table tbody tr td:nth-child(1) {
  width: 0%;
  padding-left: 1.65em;
}

table.ctm_table td._actionTd svg:nth-child(1), table.ctm_table td._actionTd svg:nth-child(2) {
  color: #fff;
  width: 1.5em;
  padding: 0.1em;
  height: 1.5em;
  border-radius: 4px;
}

table.ctm_table td._actionTd svg:nth-child(1) {
  background-color: #4C94FB;
  margin-right: 0.2em;
}

table.ctm_table td._actionTd svg:nth-child(2) {
  background-color: #FB4C4C;
}